div.ui.page.modals.dimmer.transition.visible.active > div > div.actions > button.ui.button.approved {
    background-color: #3F963F !important;
    color: black;
    border: 1px solid black;
}

    div.ui.page.modals.dimmer.transition.visible.active > div > div.actions > button.ui.button.approved:hover {
        background-color: white !important;
        color: #3F963F;
        border: 1px solid #3F963F;
    }

div.ui.page.modals.dimmer.transition.visible.active > div > div.actions > button.ui.black.button:hover {
    color: black;
    border: 1px solid black;
    background-color: #E2E3E5;
}
