.editform {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    max-width: 70%;
}

.ui.button.cancelbutton {
    background-color: black;
    color: white;
    margin-bottom: 1rem;
}

    .ui.button.cancelbutton:hover {
        background-color: white;
        color: black;
        margin-bottom: 1rem;
    }

.ui.button.submitbutton {
    background-color: #cc6600;
    color: white;
    margin-bottom: 1rem;
}

    .ui.button.submitbutton:hover {
        background-color: #FF9900;
        color: black;
    }


.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

    .tag-container .remove-tag-button {
        background: none;
        border: none;
        color: black;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 5px;
    }

    .tag-container .remove-tag-button:hover {
        background: white;
        border: none;
        color: black;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 5px;
    }


.ui.list.tags-container > .item {
    margin:0 !important;
}