.following-container {
    padding: 20px;
}

    .following-container .ui.list .item .content .header {
        font-size: 16px;
        font-weight: bold;
    }

    .following-container .ui.list .item .content .button {
        margin-left: 10px;
    }

.noFolloewrsLabelContainer{
    display: flex;
    justify-content: center;
}

.noFollowersMessage {
    font-size: 20px !important;
    background-color: transparent !important;
    color: white !important;
}
