.ui.container.profile-articles-container {
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}

.ellipsis-label {
    width:30rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-btn {
    background-color: #CCFFCC !important;
    color: black !important;
}

    .edit-btn:hover {
        background-color: #006633 !important;
        color: white !important;
        border: 1px solid white !important; 
    }

@media (max-width: 1664px){
    .ellipsis-label {
        width: 17rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

