.ui.segment {
    padding: 0;
    background-color: #006633 !important;
    max-width: 80%;
    margin: 5% 10% 5% 10% !important;
    color: white !important;
    font-size: 1.5rem !important;
    border: 1px solid #BF6000 !important;
}
