.ui.segment {
    padding: 0;
    background-color: #006633 !important;
    max-width: 80%;
    margin: 0% 10% 5% 10% !important;
    color: white !important;
    font-size: 1.2rem !important;
    border: 1px solid #BF6000 !important;
}

#article-details {
    background-color: #9BC1AE !important;
    color: black !important;
}

.image-details {
    margin-right: 2rem !important;
}

.h1-container {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 3%;
    margin-left: 6rem;
    margin-right: 6rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.h1-container h1{
    font-size: 3rem;
}

.ui.button > .icon:not(.button) {
    color: yellow;
}

.ui.segment.likes-btn-container {
    border: none !important;
    padding: 0 !important;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes-btn {
    margin: 0 !important;
    background-color: transparent !important;
    border: 1px solid #BF6000 !important;
    color: white !important;
    margin-left: auto; 
}

    .likes-btn:hover {
        background-color: #BF6000 !important;
        border: 1px solid #BF6000 !important;
    }

.details-author {
    color: white;
    font-size: 1rem;
}

    .details-author:hover {
        color: black;
    }


.details-author-container {
    margin-right: 1rem;
}
