textarea {
    min-height: 20rem;
}

.createform {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    max-width: 30%;
}

.ui.form .field > label {
    color: white !important;
}

.ui.button.submitbutton {
    background-color: #cc6600;
    color: white;
    margin-bottom: 1rem;
}

    .ui.button.submitbutton:hover {
        background-color: #FF9900;
        color: black;
    }

.sumbit.button.container {
    display: flex;
    justify-content:flex-end;
}

.tag-container {
    color: white !important;
}

.ui.negative.button {
    margin-left: 3rem;
}